.navbar {
  display: flex;
              justify-content: space-between;
              align-items: center;
              background-color:#000;
              padding: 10px 10px;
            }
        
            .nav-link {
              color: #fff;
              text-decoration: none;
              font-size: 20px;
              margin: 0 10px;
            }
        
            .nav-link:hover {
              color: #ccc;
            }
        
            .box {
              width: 250px;
              height: 50px;
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 10px;
            }
        
            .box span {
              color: #000;
              font-size: 24px;
            }
            
          
              body {
                background-color: rgb(114, 163, 192);
              }
              body {
                margin: 12px;
                padding: 0;
              }
              
              .row {
                display: flex;
              }
              .image-container {
                display: flex; 
              }
              
              .image-container img {
                width: 24.5%; 
                height: 280px; 
                margin: 0 2px;
              }
              .footer
{
    background-color: black;
    padding: 50px;
    grid-area: e;
    display: flex;
    color: white;
    font-family: Andale Mono, monospace;
    justify-content: space-around;
}

.followus img
{
    background-color: #000;
    height: 20px;
    padding: 5px;
}

.copyright
{ 
    background-color: #000;
    grid-area: f;
    margin-top: 20px;
    font-family: Andale Mono, monospace;
    color: white;
    font-size: 8pt;
}
              



          
              