body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  min-height: 75%;
}

.menu {
  display: none;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #aaa;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails img {
  width: calc(33.33% - 20px); /* 33.33% width with 10px margin on both sides */
  margin: 10px; /* Margin between images */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.thumbnails img:hover {
  transform: scale(1.1); 
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Dodato */

.modal-body {
  padding: 20px;
}

.modal-footer {
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.modal-footer button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer button:hover {
  background-color: #ddd;
}

.modal-footer button:first-child {
  margin-right: 10px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
}
